<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkelmann.swl.dc.project.production.mapper.ProdSFGroupMapper">

	<resultMap type="ProdSFGroup" 	id="ProdSFGroupResult">
		<id		property="id"				column="id"		/>
		<result	property="name"				column="name"		/>
		<result property="deptId"			column="dept_id"		/>
		<association property="dept"		column="dept_id"	javaType="SysDept" resultMap="deptResult" />
	</resultMap>
	
	<resultMap id="deptResult" type="SysDept">
		<id 	property="deptId"		column="dept_id"	/>
		<result property="deptName"		column="dept_name"	/>
	</resultMap>
	
	<sql id="selectSFGroupVo">
		select sfg.id, sfg.name, sfg.dept_id, d.dept_id, d.dept_name
		from prod_sf_group sfg
			left join sys_dept d on sfg.dept_id = d.dept_id
	</sql>
	
	<select id="selectSFGroupList" parameterType="ProdSFGroup" resultMap="ProdSFGroupResult">
		<include refid="selectSFGroupVo"/>
		<where>
			<if test="name != null and name != ''">
				AND sfg.name like concat('%', #{name}, '%')
			</if>
			<if test="deptId != null">
				AND sfg.dept_id = #{deptId}
			</if>
		</where>
	</select>
	
	<select id="selectShopFloorGroupById" parameterType="Long" resultMap="ProdShopFloorGroupResult">
		<include refid="selectShopFloorGroupVo"/>
		where sfg.group_id = #{groupId}
	</select>
	
	<select id="checkGroupNameUnique" resultMap="ProdSFGroupResult">
		<include refid="selectSFGroupVo"/>
		where sfg.name = #{name} and sfg.dept_id = #{deptId}
	</select>
	
	<insert id="insertSFGroup" parameterType="ProdSFGroup" useGeneratedKeys="true" keyProperty="id">
		insert into prod_sf_group (
			<if test="id != null and id != 0">id,</if>
			<if test="name != null and name != ''">name,</if>
			<if test="deptId != null and deptId != 0">dept_id,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			create_time
		) values (
			<if test="id != null and id != ''">#{id},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="deptId != null and deptId != ''">#{deptId},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			sysdate()
		)
	</insert>
	
	<update id="updateSFGroup" parameterType="ProdSFGroup">
		update prod_sf_group
		<set>
			<if test="groupId != null and groupId != 0">group_id = #{groupId},</if>
			<if test="groupName != null and groupName != ''">group_name = #{groupName},</if>
			<if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
			update_time = sysdate()
		</set>
		where group_id = #{groupId}
	</update>
	
	<delete id="deleteSFGroupById" parameterType="Long">
 		delete from prod_sf_group where id = #{id}
 	</delete>
</mapper>
