<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkelmann.swl.dc.project.production.mapper.ProdReportHistMapper">

	<resultMap type="ProdReportHist"		id="ProdReportHistResult">
		<id		property="id"				column="id"					/>
		<result	property="prodDate"			column="prod_date"			/>
		<result	property="partNumber"		column="part_number"		/>
		<result	property="prodDept"			column="prod_dept"			/>
		<result	property="prodSFGroup"		column="prod_sf_group"		/>
		<result	property="prodSFOp"			column="prod_sf_op"			/>
		<result	property="qtyCompleted"		column="qty_completed"		/>
		<result	property="qtyRejected"		column="qty_rejected"		/>
		<result	property="qtyScrapped"		column="qty_scrapped"		/>
		<result	property="qtyAccepted"		column="qty_accepted"		/>
		<result	property="operator"			column="operator"			/>
		<result	property="shift"			column="shift"				/>
		<result	property="ftq"				column="ftq"				/>
		<result	property="ppm"				column="ppm"				/>		
	</resultMap>
	
	<sql id="selectProdReportHistVo">
		select id, prod_date, part_number, prod_dept, prod_sf_group, prod_sf_op, shift, qty_completed, qty_rejected,
			qty_scrapped, qty_accepted, operator, ftq, ppm
		from prod_report_hist
	</sql>
	
	<select id="selectProdReportHistList" parameterType="ProdReportHist" resultMap="ProdReportHistResult">
		<include refid="selectProdReportHistVo" />
		<where>
			<if test="prodDate != null and prodDate != ''">
				AND prod_date = #{prodDate}
			</if>
			<if test="partNumber != null and partNumber != ''">
				AND part_number = #{partNumber}
			</if>
		</where>
	</select>
	
	<select id="selectProdReportHistById" parameterType="Long" resultMap="ProdReportHistResult">
		<include refid="selectProdReportHistVo" />
		where id = #{id}
	</select>
	
	<insert id="insertProdReportHist" parameterType="ProdReportHist" useGeneratedKeys="true" keyProperty="id">
		insert into prod_report_hist (
			<if test="id != null and id != 0">id,</if>
			<if test="prodDate != null">prod_date,</if>
			<if test="partNumber != null and partNumber != ''">part_number,</if>
			<if test="prodDept != null and prodDept != ''">prod_dept,</if>
			<if test="prodSFGroup != null and prodSFGroup != ''">prod_sf_group,</if>
			<if test="prodSFOp != null and prodSFOp != ''">prod_sf_op,</if>
			<if test="qtyCompleted != null and qtyCompleted != 0">qty_completed,</if>
			<if test="qtyRejected != null and qtyRejected != 0">qty_rejected,</if>
			<if test="qtyScrapped != null and qtyScrapped != 0">qty_scrapped,</if>
			<if test="qtyAccepted != null and qtyAccepted != ''">qty_accepted,</if>
			<if test="operator != null and operator != ''">operator,</if>
			<if test="shift != null and shift != ''">shift,</if>
			<if test="ppm != null">ppm,</if>
			<if test="ftq != null">ftq,</if>
			create_time
		) values (
			<if test="id != null and id != 0">#{id},</if>
			<if test="prodDate != null">#{prodDate},</if>
			<if test="partNumber != null and partNumber != ''">#{partNumber},</if>
			<if test="prodDept != null and prodDept != ''">#{prodDept},</if>
			<if test="prodSFGroup != null and prodSFGroup != ''">#{prodSFGroup},</if>
			<if test="prodSFOp != null and prodSFOp != ''">#{prodSFOp},</if>
			<if test="qtyCompleted != null and qtyCompleted != 0">#{qtyCompleted},</if>
			<if test="qtyRejected != null and qtyRejected != 0">#{qtyRejected},</if>
			<if test="qtyScrapped != null and qtyScrapped != 0">#{qtyScrapped},</if>
			<if test="qtyAccepted != null and qtyAccepted != ''">#{qtyAccepted},</if>
			<if test="operator != null and operator != ''">#{operator},</if>
			<if test="shift != null and shift != ''">#{shift},</if>
			<if test="ppm != null">#{ppm},</if>
			<if test="ftq != null">#{ftq},</if>
			sysdate()
		)
	</insert>
	
	<update id="updateProdReportHist" parameterType="ProdReportHist">
		update prod_report_hist
		<set>
			<if test="id != null and id != 0">id = #{id},</if>
			<if test="prodDate != null">prod_date = #{prodDate},</if>
			<if test="partNumber != null and partNumber != ''">part_number = #{partNumber},</if>
			<if test="prodDept != null and prodDept != ''">prod_dept = #{prodDept},</if>
			<if test="prodSFGroup != null and prodSFGroup != ''">prod_sf_group = #{prodSFGroup},</if>
			<if test="prodSFOp != null and prodSFOp != ''">prod_sf_op = #{prodSFOp},</if>
			<if test="qtyCompleted != null and qtyCompleted != 0">qty_completed = #{qtyCompleted},</if>
			<if test="qtyRejected != null and qtyRejected != 0">qty_rejected = #{qtyRejected},</if>
			<if test="qtyScrapped != null and qtyScrapped != 0">qty_scrapped = #{qtyScrapped},</if>
			<if test="qtyAccepted != null and qtyAccepted != ''">qty_accepted = #{qtyAccepted},</if>
			<if test="operator != null and operator != ''">operator = #{operator},</if>
			<if test="shift != null and shift != ''">shift = #{shift},</if>
			<if test="ppm != null and ppm != 0">ppm = #{ppm},</if>
			<if test="ftq != null and ftq != 0">ftq = #{ftq},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteProdReportHistById" parameterType="Long">
 		delete from prod_report_hist where id = #{id}
 	</delete>
</mapper>
