<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winkelmann.swl.dc.project.masterdata.mapper.PartMapper">

	<resultMap type="Part" id="PartResult">
		<id		property="id"				column="id"				/>
		<result property="number"			column="number"			/>
		<result property="desc"				column="desc"			/>
		<result property="desc2"			column="desc2"			/>
		<result property="projName"			column="proj_name"		/>
		<result property="status"			column="status"			/>
	</resultMap>
	
	<sql id="selectPartVo">
		select id, number, `desc`, desc2, proj_name, status from part
	</sql>
	
	<select id="selectPartList" parameterType="Part" resultMap="PartResult">
		<include refid="selectPartVo" />
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="number != null and number != ''">
				and number like concat('%', #{number}, '%')
			</if>
			<if test="projName != null and projName != ''">
				and proj_name like concat('%', #{projName}, '%')
			</if>
			<if test="desc != null and desc != ''">
				and `desc` like concat('%', #{desc}, '%')
			</if>
			<if test="desc2 != null and desc2 != ''">
				and desc2 like concat('%', #{desc2}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectPartById" parameterType="Long" resultMap="PartResult">
		<include refid="selectPartVo"/>
		where id = #{id}
	</select>
	
	<select id="selectPartByNumber" parameterType="String" resultMap="PartResult">
		<include refid="selectPartVo"/>
		where number = #{number}
	</select>
	
	<select id="checkPartNumberUnique" resultMap="PartResult">
		<include refid="selectPartVo" />
		where number = #{number}
	</select>
	
	<insert id="insertPart" parameterType="Part" useGeneratedKeys="true" keyProperty="id">
		insert into part (
			<if test="id != null and id != 0">id,</if>
			<if test="number != null and number != ''">number,</if>
			<if test="desc != null and desc != ''">`desc`,</if>
			<if test="desc2 != null and desc2 != ''">desc2,</if>
			<if test="projName != null and projName != ''">proj_name,</if>
			<if test="status != null and status != ''">status,</if>
			create_time
		) values (
			<if test="id != null and id != 0">#{id},</if>
			<if test="number != null and number != ''">#{number},</if>
			<if test="desc != null and desc != ''">#{desc},</if>
			<if test="desc2 != null and desc2 != ''">#{desc2},</if>
			<if test="projName != null and projName != ''">#{projName},</if>
			<if test="status != null and status != ''">#{status},</if>
			sysdate()
		)
	</insert>
	
	<update id="updatePart" parameterType="Part">
		update part
		<set>
			<if test="id != null and id != 0">id = #{id},</if>
			<if test="number != null and number != ''">number = #{number},</if>
			<if test="desc != null and desc != ''">`desc` = #{desc},</if>
			<if test="desc2 != null and desc2 != ''">desc2 = #{desc2},</if>
			<if test="projName != null and projName != ''">projName = #{projName},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			update_time = sysdate()
		</set>
		where id = #{id}
	</update>
	
	<delete id="deletePartById" parameterType="Long">
		delete from part where id = #{id}
	</delete>
	
	<delete id="deletePartByNumber" parameterType="String">
		delete from part where number = #{number}
	</delete>
</mapper>